<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> ​
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Bangers|Bungee|M+PLUS+1p|Permanent+Marker&display=swap" rel="stylesheet">
    <a href="https://icons8.com/icon/74402/mongodb"></a>


    <nav class="navbar navbar-expand-lg navbar-light bg-secondary nav-custom">
        <a class="navbar-brand"><img class="logo-mongo" src="https://img.icons8.com/color/24/000000/mongodb.png">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-begin" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link item-custom" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link item-custom" href="/articles">Saved Articles</a>
            <button id="btn-scrape">SCRAPE NEW ARTICLES</button>
          </div>
        </div>
      </nav>

</head>
<body>
    <div class="row">
        <div class="col-md-12 main-header text-center">
          <p class="lbl-main"><img class="img-logo" src="images/sr.jpg">Mongo Scraper</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div id="results" class="col-md-8"></div>
      <div class="col-md-2"></div>
  </div>
  <footer class="footer">
    <p>Articles are being pulled from Screen Rant</p>
  </footer>
</body>

<script src="js/app.js" type="text/javascript"></script>

</html>