
.main-header{
    color:black;
    height:500px;
    padding-top:200px;
    font-size:60pt;
    background-image: url("../images/newspaper.jpg");
    background-size: cover;
    background-position: center;
}

.nav-custom{
    color: white;
}

.item-custom{
    font-weight: bolder;
}

.article{
    border:1pt solid black;
    margin-top: 10px;
}

.title{
    font-size: 20pt;
    width: 100%;
    background-color: black;
    color: white;
    text-indent:10px;
}

.author, .pubDate{
    font-weight: bold;
    margin-left:15px;
    font-size: 8pt;
}

.summary{
    font-size: 12pt;
    margin-left:15px;
}

.btn-add{
    float: right;
    margin-top:5px;
    margin-right:15px;
    font-size: 12pt;
    width: 60px;
    border-radius: 5px;
}

#results{
    height:350px;
    overflow-y:auto
}

::-webkit-scrollbar {
    width: 0px;
}